@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, #__next, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
.ra {
  border: solid black;
}
body {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  /* background-color: red; */

}
.green{
  background-color:#012A1F;
}
.green-tx{
  color:#012A1F;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
