@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-poppins)
}


body {
  height: 100%;
  box-sizing:border-box;

  /* background-color: #1e1e1e; */
}
.green{
  background-color:#012A1F;
}
.green-tx{
  color:#012A1F;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
